<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60111774454-t7bgr71s91rc328q58cc7hq9b3fm6t17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60111774454-t7bgr71s91rc328q58cc7hq9b3fm6t17</string>
	<key>API_KEY</key>
	<string>AIzaSyA7OVzuz5CJE2HWjlzuhz3tELfbmMcBzBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>60111774454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.conglomerateUi</string>
	<key>PROJECT_ID</key>
	<string>conglomerate-c9834</string>
	<key>STORAGE_BUCKET</key>
	<string>conglomerate-c9834.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60111774454:ios:91c2142eacad1a2701c2d7</string>
	<key>DATABASE_URL</key>
	<string>https://conglomerate-c9834.firebaseio.com</string>
</dict>
</plist>